.header--imagen {
    height: 500px;
    background-image: url(https://previews.123rf.com/images/izakowski/izakowski1206/izakowski120600018/14008547-cartoon-ilustraci%C3%B3n-de-african-safari-dise%C3%B1o-de-cabecera-de-los-animales-salvajes.jpg);
}

.ul {
    display: flex;
    justify-content: space-around;
    color: black;
    align-items: flex-end;
    justify-items: flex-end;
    li {
        color: red;
        padding: 10px;
        margin: 8px;
        border-style:dashed;
        border-radius: 15px;
        background-color: rgba(12, 234, 64, 0.274);
        list-style: none;
        list-style-type: none;
    }
}

.img--logo {
    height: 200px;
    border-radius: 50%;
}

.div{
    display: flex;
    justify-content: center;
    h1{
        font-size: 80px;
        color: brown;
        justify-content: center;
    }
}

.p{
    display: flex;
    text-align: center;
    font-size: 15px;
}

.div--footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    h2{
        justify-content: center;
        font-size: 50px;
    }
    
}

.div--imagenes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.img--galeria{
    border-style: double;
    border-color: crimson;
    height: 35opx;
    width: 350px;
    margin: 2px;
    padding: 2px;
}

