.grid {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: " encabezado encabezado" 
                        " section    aside" 
                        " articulo   aside" 
                        " footer     footer";
}

.header {
    overflow: hidden;
    grid-area: encabezado;
    border-style: groove;
    background-color: red;
}

.section {
    height: 400px;
    grid-area: section;
    border-style: groove;
    background-color: coral;
}

.section2 {
    grid-area: articulo;
    display: flex;
    border-style: groove;
    background-color: rgb(80, 144, 255);
    overflow: visible;
}

.aside {
    grid-area: aside;
    border-style: groove;
    background-color: rgb(18, 159, 72);
}

.footer {
    height: auto;
    grid-area: footer;
    border-style: groove;
    background-color: rgb(252, 80, 255);
}

@media screen and (max-width: 768px) {
    .grid {
        display:grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:    "encabezado"
                                "section"
                                "articulo"
                                "aside"
                                "footer";
    }

    .ul {
        display: flex;
        justify-content: space-around;
        color: black;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        li {
            color: red;
            padding: 10px;
            margin: 8px;
            border-style:dashed;
            border-radius: 15px;
            background-color: rgb(12, 234, 64);
            list-style: none;
            list-style-type: none;
        }
    }

    .img--logo {
        height: 100px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 320px) {
    .grid{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto ;
        grid-template-areas:    "encabezado"
                                "section"
                                "articulo"
                                "aside"
                                "footer";
    }

    .ul {
        display: flex;
        justify-content: space-around;
        color: black;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        li {
            color: red;
            padding: 10px;
            margin: 8px;
            border-style:dashed;
            border-radius: 15px;
            background-color: rgb(12, 234, 64);
            list-style: none;
            list-style-type: none;
        }
    }

    .img--logo {
        height: 80px;
        border-radius: 50%;
    }
}