.grid{
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
                        " encabezado encabezado"
                        " section    aside"
                        " articulo   aside"
                        " footer     footer";
}

.header{
    grid-area: encabezado;
    border-style: groove;
    background-color: red;
}

.section{
    grid-area: section;
    border-style: groove;
    background-color: coral;
}

.section2{
    grid-area: articulo;
    display: flex;
    border-style: groove;
    background-color: rgb(80, 144, 255);
    scroll-padding-block-end: auto;
}

.aside{
    grid-area: aside;
    border-style: groove;
    background-color: rgb(18, 159, 72);
}

.footer{
    grid-area: footer;
    border-style: groove;
    background-color: rgb(252, 80, 255);
}

